<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <title>Albums</title>
</head>
<body>
<h1>My Personal Jams</h1>
<div class="albumList">
    <form action = "/album/" method="POST">

        <fieldset>
            <legend>Add New Albums</legend>
            <label>Album Name</label>
            <input type="text" name="title">
            <label>Artist Name</label>
            <input type="text" name="artist">
            <label>Total Song Count</label>
            <input type="text" name="songCount">
            <label>Total Album Length In Seconds</label>
            <input type="text" name="lengthInSeconds">
            <label>Album Art URL</label>
            <input type="text" name="imageUrl">
            <input type="submit" value="Add Album">
        </fieldset>

    </form>
    <table>
        <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Song Count</th>
            <th>Length (s)</th>
            <th>Album Art</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="album : ${albums}">
            <td th:text="${album.title}"></td>
            <td th:text="${album.artist}"></td>
            <td th:text="${album.songCount}"></td>
            <td th:text="${album.lengthInSeconds}"></td>
            <td>
                <img th:src="${album.imageUrl}" alt="Album Art" width="200" height="200"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>>