<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 th:if="${username} != null" th:text="${'Current browsing user: ' + username}"></h3>

<h1 th:text="${'user info for user id: ' + profileId}"></h1>


<form th:action="'/user/' + profileId" th:method="PUT">
<label for="profilename">Username</label>
<input th:value="${profilename}" type="text" name="profilename" id="profilename" th:disabled="${!username.equals(profilename)}">
    <input type="submit" value="edit user info">
</form>

<label for="profileId">ProfileId</label>
<div th:text="${profileId}" type="text" name="profileId" id="profileId"></div>
<label for="profileDateCreated">Date Created</label>
<div th:text="${#temporals.format(profileDateCreated, 'MM-dd-yyyy')}" type="text" name="profileDateCreated" id="profileDateCreated"></div>
</body>
</html>

